
<form action="<%=users_url%>" method="post">
<label for="user_name">Username: </label>
    <input 
        id="user_name" 
        type = "text"
        name = "user[user_name]" 
        value= "">
    </input>
    <br>
    <label for="password">Password:&nbsp</label>
    <input 
        id="password" 
        name="user[password]"  
        type="password" 
        value= "">
    </input>
    <br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="submit" value="GIVE ME YOUR INFO"></input> 
</form>